<html>
  <head>
    <meta charset="utf-8">
    <title>Sesion 4</title> 
  </head>
  <body>
    <h1> ToDo List Application</h1>
    <div>

      <form action="/add_task" method="post">
        <input type="text" name="task" placeholder="Add a task">
        <input type="submit" value="Add Task">
      </form>

      {% for key in todos %}
        <div>
          <span>{{ todos[key] }}</span> 
          <span><a href="/delete_task/{{key}}">Eliminar</a></span>
        </div>
      {% endfor %}

    </div>
  </body>
</html>