<html>
    <head>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/8.6.8/firebase-firestore.js"></script>
    </head>
    <body>
        <h1>ToDo List</h1>

        <form id="newTaskForm">
            <input id="newTask"/>
            <button type="submit">Agregar</button>
        </form>

        <ul id="todolist">

        </ul>

        <ul id="donelist">
            
        </ul>

        <script src="script.js"></script>
    </body>
</html>